<div class="card checkinslist">

<h1>Check-ins</h1>
<p>Here's a list of your lastest check-ins</p>

<div class="search cf">
  <h2>Search Checkins</h2>
  <input type="text" ng-model="query" placeholder="Search for users">
</div>

<ul class="userlist cf">
  <li ng-repeat="checkin in checkins | filter: query">
    <div class="checkin">
      <div class="buttons" ng-show="currentUser">
        <button class="btn btn-delete tooltip"
          ng-click="deleteCheckin(checkin.$id)">
          <span>Delete this check-in</span>
        </button>
      </div><!-- buttons -->
      <div class="info">
        <h2>{{ checkin.firstname }} {{ checkin.lastname }}</h2>
        <div class="date">
          {{ checkin.date | date: "MMM d, yy h:mm a" }}
        </div><!-- date -->
      </div><!-- info -->
    </div><!-- checkin -->
  </li>
</ul>
</div>