<div class="card checkinslist">

<h1>Check-ins</h1>
<p>Here's a list of your lastest check-ins</p>

<div class="search cf">
  <h2>Search Checkins</h2>
  <input type="text" ng-model="query" placeholder="Search for users">

  <div class="formgroup">
    <span class="label">by: </span>
    <select ng-model="order">
      <option value="firstname">First Name</option>
      <option value="lastname">Last Name</option>
      <option value="data">Date</option>
    </select>
  </div><!-- formgroup -->

  <div class="formgroup">
    <input id="dirascending" type="radio"
      ng-model="direction" name="direction">
    <label for="dirascending">asc</label>&nbsp;

    <input id="dirdescending" type="radio"
      ng-model="direction" name="direction" value="reverse">
    <label for="dirdescending">desc</label>
  </div><!-- formgroup -->

  <div ng-show="currentUser" class="buttons cf">

    <button ng-hide="recordId" class="btn btn-pick"
      ng-click="pickRandom()">Pick Random</button>

    <button ng-show="recordId" class="btn btn-pick"
      ng-click="recordId=''">Reset</button>  
    
  </div>

</div><!-- search -->

<ul class="userlist cf">
  <li ng-class="checkin.userState" ng-repeat="checkin in checkins | orderBy: order:direction | filter: { $id: recordId, $: query }">
    <div class="checkin">
      <div class="buttons" ng-show="currentUser">
        <button class="btn btn-delete tooltip"
          ng-click="deleteCheckin(checkin.$id)">
          <span>Delete this check-in</span>
        </button>
        <button class="btn btn-love tooltip"
          ng-click="showLove(checkin)">
          <span>Show the love</span>
        </button>
      </div><!-- buttons -->
      <div class="info">
        <h2>{{ checkin.firstname }} {{ checkin.lastname }}</h2>
        <div class="date">
          {{ checkin.date | date: "MMM d, yy h:mm a" }}
        </div><!-- date -->
      </div><!-- info -->
      <div class="showcheckins" ng-show="checkin.show">
        <form class="cf"
          ng-submit="giveLove(checkin, checkin.giftText)"
          novalidate>
          <input type="text" name="giftText" placeholder="What are you giving them?"
          ng-model="checkin.giftText" ng-required="true">
          <button type="submit" class="btn" ng-disabled="myform.$invalid">+</button>
        </form>

        <ul class="awardslist cf">
          <li class="cf" ng-repeat="(key, award) in checkin.awards">
            <div class="award">{{ award.name }}
              <div class="buttons" ng-show="currentUser">
                <button class="btn btn-delete award tooltip"
                  ng-click="deleteLove(checkin.$id, key)">
                  <span>Delete this award</span>
                </button>
              </div><!-- buttons -->
              </div><!-- award -->
          </li>
        </ul>
      </div><!-- showcheckins -->
    </div><!-- checkin -->
  </li>
</ul>
</div>