<div class="card meetings cf">

  <div class="textintro">
    <h1>Add a Meeting</h1>
    <p>Type a meeting name and hit +</p>
  </div><!-- textintro -->

  <form class="formgroup addmeeting cf"
    name="myform"
    ng-submit="addMeeting()"
    novalidate>

    <div class="inputwrapper">
      <input type="text" name="meetingname"
      placeholder="Meeting name"
      ng-model="meetingname" ng-required="true">
    </div>

    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">+</button>
    
  </form>

  <h2>Your meetings</h2>
  <div class="meeting" ng-repeat="(key, meeting) in meetings">
    <button class="btn btn-delete tooltip"
      ng-click="deleteMeeting(key)">
      <span>Delete this meeting</span>
    </button>

    <a class="btn btn-checkin tooltip" 
      href="#/checkins/{{currentUser.regUser}}/{{meeting.$id}}">
      <span>Go to check-in URL</span></a>

    <a class="btn btn-list tooltip" 
      href="#/checkins/{{currentUser.regUser}}/{{meeting.$id}}/checkinsList">
      <span>View list of checked in users</span></a>


    <span class="text">{{meeting.name}}</span>
  </div>

</div><!-- meetings cf -->
