<section class="checkins cf">
  <form name="myform"
    ng-submit="addCheckin()"
    novalidate>

    <h1>Check-in</h1>
    <p>Fill out this form to check-in or go 
    <a ng-href="#/meetings">back to meetings</a></p>

    <p class="error formerror" ng-show="message">{{ message }}</p>

    <input type="firstname" name="firstname" placeholder="First Name"
      ng-model="user.firstname" ng-required="true">
    <p class="error validationerror"
      ng-show="myform.firstname.$invalid && myform.firstname.$touched">
      First Name is required</p>

    <input type="lastname" name="lastname" placeholder="Last Name"
      ng-model="user.lastname" ng-required="true">
    <p class="error validationerror"
      ng-show="myform.lastname.$invalid && myform.lastname.$touched">
      Last Name is required</p>
    

    <input type="email" name="email" placeholder="Email"
      ng-model="user.email" ng-required="true">
    <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Must be a valid email</p>
    
    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">Check-in</button>
    <p>or <a href="#/login">login</a></p>
  </form>
</section>